/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
body{
	font-family: "congenial-light", sans-serif;
    font-weight: 500;
    font-style: normal;  
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  header {
	background-color: #7c65a9;
	padding: 1em;
  }
  
  nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  
  nav > img {
	width: 9em;
	max-width: 8em;
	height: auto;
	margin-left: 4em;
  }
  
 
  nav ul {
	display: flex;
	align-items: center;
	gap: 1.5em; 
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  
  nav ul li {
	display: flex;
	align-items: center;
	
  }
  
  nav ul li button,
  nav ul li a {
	font-family: "congenial", sans-serif;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	text-decoration: none;
  }
  
  nav ul li button img {
	width: 0.8em;
	height: auto;
	margin-left: 1em;
  }
  
  
  nav > button {
	background: none;
	border: none;
	cursor: pointer;
	transform: scale(0.8);
	
  }
  
  nav > button img {
	width: auto;
	border-radius: 50%;
  }
  

 section:nth-of-type(1) {
	position: relative;
	width: 100%;
	height: 21.875em;
	background-position: center;
	background-repeat: no-repeat;
  }
  
  
  section:nth-of-type(1) section:nth-of-type(1)  {
	display: block;
	width: 100%; 
	height: auto;
	filter: brightness(50%);
  }
  
  section:nth-of-type(1) a{
	position: absolute;
	bottom: 5%;  
	left: 10%;    
	font-family: "congenial", sans-serif;
	font-weight: 900;
	font-size: 1.2rem;         
	min-height: 3.5rem;         
	padding: 1rem 4.5rem;       
	background: #b3e5fc; 
	color: #2e008b; 
	border-radius: 2.5rem;     
	text-decoration: none;
	box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.35);  
}

  
  

  section:nth-of-type(2) {
	position: relative;
	background-image: url('../images/Seamless_Blatten_1.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 5em 0;       
	margin-top: 27vh;
    min-height: 100vh;
  }
  section:nth-of-type(2) h1 {
	text-align: center;
	font-size: 4em;
	font-family: "congenial", sans-serif;
	color: white;
	margin-bottom: 1em;  
  }
  
  section:nth-of-type(2) ul {
	display: flex;
	gap: 2em;
	overflow-x: auto;
	list-style: none;
	padding: 0;
	margin: 0 5%;
  }
  
  section:nth-of-type(2) li {
	flex: 0 0 auto;
	border: 0.2em solid white;
	border-radius: 1em;
	overflow: hidden;
	width: 25em;
	display: flex;             
	flex-direction: column;     
  }
  
  section:nth-of-type(2) li img {
	width: 100%;
	height: auto;
	display: block;
	flex: 1 0 auto;          
	object-fit: cover;          
  }
  
  section:nth-of-type(2) li p {
	background: white;         
	margin: 0;
	font-size: 1.1;
	padding: 2em;
	font-weight: bold;
	color: #333;
	text-align: center;
	flex: 0 0 auto;             
  }
 
  
  section:nth-of-type(2) a {
	display: block;
	font-family: "congenial", sans-serif;
	margin: 3em auto 0;
	font-weight: 700;
	font-size: 1.2rem;
	background: #b3e5fc; 
	padding: 1em 3em;
	color: #2e008b;
	border-radius: 2em;
	text-decoration: none;
	box-shadow: 0 0.3em 1em rgba(0, 0, 0, 0.35);
	width: fit-content;
  }
  

  section:nth-of-type(3) {
    background-image: url('../images/Seamless_Blatten_1.webp');
    position: relative;
	color: white;
	text-align: center;
    width: 100%;
	min-height: 100vh;      
	padding-bottom: 5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
  
  section:nth-of-type(3) img {
	display: block;
	margin: 2rem auto; 
	width: 100%;  
	height: auto;     
}
	

    section:nth-of-type(3) p {
	font-size: 3em;
    font-family: "congenial", sans-serif;
    font-weight: 800;
    font-style: normal;
    line-height: 1.1;
    top: 20%;
	text-align: center

  }
  
   section:nth-of-type(3) h2 {
	font-size: 3.75em;
    font-family: "congenial", sans-serif;
    font-weight: 800;
    font-style: normal;
    line-height: 1.1;
	text-align: center
  }
  
   section:nth-of-type(3) a {
	display: inline-block;
	background: #aee4ff; 
	color: #2e008b;      
	font-family: "congenial", sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
	padding: 1rem 1.5rem;   
	border-radius: 2rem;
	text-decoration: none;
	margin-top: 1.25rem;
	z-index: 3;
  }
  
  
  
  section:nth-of-type(4) {
	display: flex;
	justify-content: center;
	padding: 3.75rem 1.25rem;
	background: #f8f8f8; 
  }

  section:nth-of-type(4) article {
	max-width: 78rem;   
	min-height: 40rem;            
	display: flex;
	background: white;
	border-radius: 1rem;             
	box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.25);
	overflow: hidden; 
	width: 100%;
}

  section:nth-of-type(4) article img {
	width: 100%;
	object-fit: cover;
  }

  section:nth-of-type(4) article section {
    display: flex;
	color: rgb(59 39 116);;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;     
    gap: 1.5rem;               
    padding: 1.875rem;
    margin-left: 6%;
	margin-top: 8%;
}
  
  section:nth-of-type(4) p:nth-of-type(1) {
	font-size: 1.5em;
	font-weight: bold;
    font-family: "congenial", sans-serif;
	margin: 0;
  }
  
  section:nth-of-type(4) article h2 {
	font-size: 4.5em;
	font-weight: bold;
	line-height: 1;
    font-family: "congenial", sans-serif;
	margin: 0;
  }
  
  section:nth-of-type(4) article button {
	background:rgb(59 39 116);;
	color: white;
	border: none;
	font-family: "congenial", sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
	padding: 1rem 1.5rem;   
	border-radius: 2rem;
	font-weight: bold;
	cursor: pointer;

}
  
  
  section:nth-child(4)  section:nth-of-type(3)  {
	font-size: 0.9em;
	color: rgb(0, 53, 142);
	text-decoration: underline;
	margin-top: 10px;
	cursor: pointer;
  }



  section:nth-child(5) {
    width: 100%;
    text-align: center;       
    padding: 3rem 1rem;      
    background-color: #f8f8f8; 
    color: rgb(59, 39, 116);
    box-sizing: border-box;
}

section:nth-child(5) h2 {
	font-size: 4.5em;
	font-weight: bold;
    font-family: "congenial", sans-serif;
}

section:nth-child(5) p {
    font-size: 1.25rem;    
    margin: 0;
}
 
footer {
    position: relative;
	width: 90%;        
    max-width: 90%;
    background-image: url('images/Koe_foto.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    box-sizing: border-box;
}
  
  footer  img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: 1;
  }
  
  
  
  footer ul{
	position: relative;
	z-index: 2; 
  }
  
  
  footer li{
	display: inline-block;

  }
  
  
  footer img,
  footer ul {

  }
  